.footer{
	background-color:rgb(211, 211, 211);
	padding:15px;
}

.footer-content__links{
	list-style-type: none;
	padding-left: 0px !important;
}

.footer-content__links a{
	color:#000000;
}

.footer-icon{
	width:150px;
	height:150px;
	max-width:150px;
	max-height:150px;
	border-radius: 50%;
}