.featured-item{
	width:100%;
}

.featured-item img{
	width:100%;
	height:300px;
	max-width:100%;
}

.featured-item__vendor{
	font-weight: bold;
}

.featured-item__location{
	color:rgb(211,211,211);
}

.horizontal-slider .card.recommendation{
	display:inline-block;
	width:18rem;
	max-width: 100%;
	margin:15px;
}

.card.recommendation .card-body{
	width: 100%;
}

.recommendation img{
	width:100%;
	height:250px;
}
.loading-indicator--section .d-flex{
	height:100vh;
}

.loading-indicator--section .spinner-border{
	width:10rem;
	height:10rem;
}

/* Results styles */

.results{
	height: auto;
	max-height:100vh;
}

.results-list{
	list-style-type: none;
	padding-left:0px;
	overflow:hidden;
	overflow-y: scroll;
	height:100vh;
	max-height: 100vh;
}

.results-list--item{
	cursor: pointer;
}

.results-list--item:hover{
	background-color:rgb(211,211,210);
}

.results-map{
	width:100%;
	height:100vh;
}

#map{
	height: 100vh;
}