/* Single Item Styles */

.single-item--hero{
	max-height:600px;
	margin-top:15px;
}

.single-item--title-section{
	background-color:rgb(211,211,211);
	border-radius: 5px;
}

.single-item--image-section{
	max-height: 600px;
	overflow:hidden;
}

.single-item--image-section .item-image{
	width:100%;
	height:auto;
}

#single-item--map{
	width:100%;
	height:600px;
}

/* Related items section */
.related-vendor-items{
	margin-top:15px;
	list-style-type: none;
	padding-left:0px !important;
	width:100%;
	overflow-x: scroll;
	white-space: nowrap;
}

.related-vendor-item{
	display:inline-block;
	white-space: normal;
	height:350px;
	margin:5px;
}

.related-vendor-item .card{
	height:inherit;
}

.related-vendor-item .card .card-body .btn{
	position:absolute;
	bottom:15px;
}

/* Single item ratings */
.item-rating{
	list-style-type: none;
	padding-left:0px !important;
	width: 100%;
}

.item-rating--star, .item-rating--number{
	display: inline-block;
}

.item-rating--star{
	cursor: pointer;	
}

.fas.fa-star, .fas.fa-star-half-alt{
	color:#ffd700;
}

.item-reviews--user-profile-picture{
	border-radius: 50%;
	width:25px;
	height:25px;
}

.item-reviews{
	list-style-type: none;
	padding-left: 0px !important;
	max-height: 600px;
	overflow-y: scroll;
	height:auto;
}

.item-reviews--review{
	border-top:1px solid rgb(211,211,211);
}

.item-reviews--review:first-of-type{
	border-top:none;
}


